.renwu-list-bar {
	position: fixed;
	top: 49px;
	left: 0;
	right: 0;
	background: white;
	padding: 15px 0px;
	z-index: 10;
	display: table;
}

.renwu-list-bar-item {
	display: table-cell;
	width: 1%;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 15px;
	line-height: 15px;
	color: black;
}

.renwu-list-bar-item-img {
	width: 8px;
	height: 8px;
	background: url(../img/ic_more_normal.png) no-repeat;
	background-size: contain;
	display: inline-block;
}

.renwu-list-bar-item-img-action {
	width: 8px;
	height: 8px;
	background: url(../img/ic_more_pressed.png) no-repeat;
	background-size: contain;
	display: inline-block;
}

.renwu-list-bar-item-action {
	color: #E8565A;
}

.select-list {
	position: fixed;
	top: 94px;
	left: 0;
	right: 0;
	background: white;
	z-index: 10;
	display: block;
}

.renwu-class-select-list {
	height: 200px;
	overflow: auto;
	position: relative;
	display: none;
}

.renwu-mode-select-list {
	position: relative;
	display: none;
}

.renwu-money-select-list {
	position: relative;
	display: none;
}

.select-list-item {
	position: relative;
	padding: 15px 0px;
	margin-left: 20px;
	font-size: 15px;
	line-height: 15px;
	color: black;
	border-bottom: 1px #DDDDDD solid;
}

.select-list-item-text,
.select-list-item-button {
	position: relative;
	padding: 15px 0px;
	margin-left: 20px;
	border-bottom: 1px #DDDDDD solid;
}

.select-list-item-button {
	padding: 0px;
	margin: 0px;
}

.select-list-item-action {
	color: #E8565A;
}

.check-select-item {
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 12px;
	width: 12px;
	background: url(../img/ic_yes.png);
	background-size: contain;
	display: none;
}


/*任务金额*/

.renwu-money-label {
	font-size: 15px;
	line-height: 15px;
	outline: none;
}

.renwu-money-input {
	width: 80px;
	padding: 2px 0px;
	border-radius: 2px;
	border: none;
	background: #DDDDDD;
	font-size: 15px;
	line-height: 15px;
	outline: none;
}


/*确认金额*/

.renwu-money-queren {
	outline: none;
	width: 100%;
	height: 45px;
	font-size: 15px;
	line-height: 15px;
	color: #E8565A;
	border: none;
	background: white;
	text-align: center;
}

.renwu-list {
	position: absolute;
	top: 94px;
	width: 100%;
	height: 526px;
	overflow-y: auto;
}

.renwu-list-item {
	height: 70px;
	width: 100%;
	position: relative;
	border-bottom: 1px #DDDDDD solid;
}

.renwu-describe {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-left: 15px;
	width: 240px;
	height: 40px;
	display: inline-block;
}

.single-line {
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.rewu-desribe-title {
	width: 100px;
	font-size: 17px;
	line-height: 17px;
	color: black;
	display: inline-block;
}

.rewu-shang {
	height: 17px;
	width: 17px;
	margin-left: 8px;
	background: url(../img/ic_shang.png) no-repeat;
	background-size: contain;
	display: inline-block;
}

.rewu-zhao {
	height: 17px;
	width: 17px;
	margin-left: 8px;
	background: url(../img/ic_zhao.png) no-repeat;
	background-size: contain;
	display: inline-block;
}

.rewu-desribe-content {
	width: 100px;
	margin-top: 9px;
	font-size: 13px;
	line-height: 13px;
	color: #7f7f7f;
}

.renwu-money {
	position: absolute;
	color: #FF7D14;
	font-size: 17px;
	line-height: 17px;
	height: 17px;
	top: 0;
	bottom: 0;
	right: 0px;
	margin: auto;
	margin-right: 15px;
	display: inline-block;
}

.center-tips {
	top: 250px;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}