.spinner {
	width: 80px;
	height: 30px;
	font-size: 10px;
	list-style: none;
	float: left;
}

.spinner > div {
	background-color: #FFB823;
	height: 100%;
	width: 3px;
	display: inline-block;
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4)
	}
	20% {
		-webkit-transform: scaleY(1.0)
	}
}

@keyframes stretchdelay {
	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}

.y {
	background: yellow;
}

#con {
	width: 100%;
	height: 200px;
	/*border: 1px solid red;*/
	background: white;
	position: fixed;
	display: none;
	bottom: 0;
	z-index: 1000;
}
#zz{
	filter:alpha(opacity=50);  
	-moz-opacity:0.5;  
	-khtml-opacity: 0.5;  
	opacity: 0.5;
	display: none;
	z-index:100;
}
.top {
	text-align: center;
	height: 20%;
	width: 100%;
	color: #e5e5e5;
}

.bottom {
	width: 100%;
	height: 50%;
	margin-top: 5%;
}

.ma {
	width: 300px;
	height: 100px;
	margin: 0 auto 0 auto;
	color: #E5E5E5;
}

.auto-img {
	margin-left: auto;
	margin-right: auto;
	background: #DD3C38;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

.auto-img img {
	width: 50%;
	height: auto;
	margin: 25%;
}

.left {
	width: 100px;
	height: 100px;
	float: left;
	position: relative;
}

.auto {
	width: 100px;
	height: 100px;
	float: left;
	position: relative;
}

.right {
	width: 100px;
	height: 100px;
	float: left;
	position: relative;
}

.del {
	width: 40px;
	height: 40px;
	margin-top: 30px;
	float: left;
	background: #E5E5E5;
	border-radius: 50px;
}

.del img {
	width: 50%;
	height: auto;
	margin: 25%;
}

.del1 img {
	width: 50%;
	height: auto;
	margin: 25%;
}

.dr {
	width: 60px;
	height: 20px;
	float: right;
	margin-top: 40px;
}

.del1 {
	width: 40px;
	height: 40px;
	margin-top: 30px;
	float: left;
	background: #E5E5E5;
	border-radius: 50px;
}

.dr1 {
	width: 60px;
	height: 20px;
	margin-top: 40px;
	float: left
}